body{
    padding:100px;
}
.login-area h1{
     font-family: 'Roboto', sans-serif;
     color: rgb(1, 1, 20);
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
    padding: 40px;
}